/* .App {
  background-image: url("bg.jpeg");
} */


.navigation {
  height: 10vh;
  width: 100%;
  background-color: whitesmoke;
  text-align: start;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  
}



